{block content}

<div class="row">

<div id="sluzby" class="col-sm-12 np">
  <h2 class="background"><span>Dnešní nabídka</span></h2>                   
</div>
<div  class="col-sm-12  np">
<iframe id="dnesni" scrolling="no"
 src="https://docs.google.com/document/d/1d1YhIY24vwO6nQh_FPd-2RZaQ2ZyXyyKPbcETU--pok/pub?embedded=true" 
 frameborder="0" 

 width="100%">
 </iframe>    
</div>
 </div>




{/block}

