{block content}

<div class="row">

<div id="sluzby" class="col-sm-12 np">
  <h2 class="background"><span>Naše menu</span></h2>                   
</div>
<div  class="col-sm-12  np">
      <img class="responsive-img" src="{$basePath}/upload/listek.jpg" alt="listek" >
</div>
 </div>




{/block}

