{block content}

<section id="novinky">
<div class="row">
  <div class="col-sm-6 pull-left">
    <a class="btn btn-text pull-left" n:href="Fotogalerie:alba" >
      <i class="fa fa-hand-o-left"></i> Zpět do fotogalerie
    </a>                    
  </div>
                   
</div> 
 <div class="col-lg-12 np nm text-center">

  <h2 class="background"><span>Přidat foto</span></h2>     
                 
                 </div>

{control uploadImg}



</section>

{/block}


